.home{
    display: flex;
    padding: 2rem 2rem;
}

.home img{
    border: 5px solid rgb(46, 89, 182);
    border-radius: 50%;
}

.heading{
    font-size: 2rem;
}

.home_left{
    /* background: red; */
    width: 65%;
    padding-top: 5rem;
}

.home_left p{
    margin-top: 1.5rem;
    width: 70%;
}

.home_left h2{
    letter-spacing: 1px;
    text-align: start;
    width: 80%;
   
    
}


.home_right{
    display: flex;
    flex: 1;
    /* justify-content: center; */
    align-items: center;
}
.row_1{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}

.row_2{
    margin-top: -2rem;
    display: flex;
    flex-direction: column;
}

.btn{
    margin-top: 1.5rem;
    padding: 1rem 2rem;
    border-radius: 30px;
    font-size: 20px;
    background: none;
    border: 2px solid rgb(46, 89, 182);
}

.btn:hover{
    cursor: pointer;
    background-color: rgb(46, 89, 182);
    color: #f2f2f2;
}







@media screen and (max-width: 600px) {

    .home{
       flex-direction: column;
       padding: 1rem 4rem;
    }

    .home_left{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-top: 1rem;
     
    }

    .home_left p{
        margin-top: 1.5rem;
        width: 85%;
    }

    .home_left h2{
        letter-spacing: 2px;
        text-align: start;
        width: 100%;
        font-size: 1.8rem;
       
        
    }
    
    .home_right{
        width: 100%;
        padding-top: 5rem;
        margin-bottom: 5rem;
        justify-content: center;
    }    

    .btn{
        margin-top: 2rem;
        

    }

}