.list_container{
    display: flex;
    justify-content: center;
    height: 90vh;
}

.list_h2{
    text-align: center;
    margin-bottom: 2rem;
}

.form{
    display: flex;
    flex-direction: column;
    padding: 2rem 2rem;
    width: 50%; 
}

.form input{
    margin: 0.5rem 0;
    padding: 0.75rem 0;
    text-align: center;
    border-radius: 10px;
    font-size: 1.5rem;
    border: 2px solid #777;
}

.btn{
    width: 50%;
    margin-left: 25%;
    margin-top: 2.5rem;
    padding: 0.75rem 0;
    border-radius: 10px;
    font-size: 1.5rem;
    border: none;
    background: rgb(46, 89, 182);
    color: #f2f2f2;
    cursor: pointer;
}


@media screen and (max-width: 600px) {

.form{
    width: 100%; 
  }

  .form input{
    font-size: 1.05rem;
    }

    .list_container{
        height: 100%;
    }
}